absl-py==0.8.1
asgiref==3.2.10
astor==0.8.0
authy==2.2.5
brotlipy==0.7.0
cachetools==3.1.1
certifi==2020.11.8
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
cycler==0.10.0
decorator==4.4.1
defusedxml==0.7.0rc1
Django==3.1.1
django-allauth==0.42.0
django-crispy-forms==1.9.2
django-email-verification==0.0.2
django-filter==2.4.0
django-image-optimizer==1.0.1
django-rest-knox==4.1.0
djangorestframework
gast==0.2.2
grpcio==1.25.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.5
joblib==0.14.0
Keras==2.3.1
librosa==0.7.1
llvmlite==0.35.0
Markdown==3.1.1
oauthlib==3.1.0
opt-einsum==3.1.0
pandas
phonenumbers==8.12.0
Pillow==7.2.0
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser
PyJWT==1.7.1
pyOpenSSL
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.12.0
python-resize-image==1.1.19
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.1.2
requests
requests-oauthlib==1.2.0
resampy==0.2.2
rsa==4.0
scipy
seaborn==0.10.1
simplejson==3.17.2
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
SoundFile==0.10.3.post1
sqlparse==0.3.1
termcolor==1.1.0
tinify==1.5.1
tornado==6.0.4
twilio==6.27.1
urllib3==1.25.9
Werkzeug==0.16.0
whitenoise==5.2.0
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
psycopg2==2.8.6
pycrypto==2.6.1
mozilla_django_oidc
